<div class="piano">
  <div class="key white" id="C4"></div>
  <div class="key white" id="D4"></div>
  <div class="key white" id="E4"></div>
  <div class="key white" id="F4"></div>
  <div class="key white" id="G4"></div>
  <div class="key white" id="A4"></div>
  <div class="key white" id="B4"></div>
  <div class="key white" id="C5"></div>
  <div class="key white" id="D5"></div>
  <div class="key white" id="E5"></div>
  <div class="key white" id="F5"></div>
  <div class="key white" id="G5"></div>
  <div class="key white" id="A5"></div>
  <div class="key white" id="B5"></div>
  <div class="key white" id="C6"></div>
  <div class="black-keys">
    <div class="key black" id="C#4"></div>
    <div class="key black" id="D#4"></div>
    <div class="key black" id=""></div>
    <div class="key black" id="F#4"></div>
    <div class="key black" id="G#4"></div>
    <div class="key black" id="A#4"></div>
    <div class="key black" id=""></div>
    <div class="key black" id="C#5"></div>
    <div class="key black" id="D#5"></div>
    <div class="key black" id=""></div>
    <div class="key black" id="F#5"></div>
    <div class="key black" id="G#5"></div>
    <div class="key black" id="A#5"></div>
    <div class="key black" id=""></div>
    <div class="key black" id="C#6"></div>
  </div>
</div>

<script type="text/javascript" src="./js/Tone.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
