<pre id='chat'></pre>
<form>
  <input id='msg' placeholder='type message here...' />
</form>


<div class="piano">
  <div class="key white" id="C"></div>
  <div class="key white" id="D"></div>
  <div class="key white" id="E"></div>
  <div class="key white" id="F"></div>
  <div class="key white" id="G"></div>
  <div class="key white" id="A"></div>
  <div class="key white" id="B"></div>
  <div class="key white" id="C-2"></div>
  <div class="key white" id="D-2"></div>
  <div class="key white" id="E-2"></div>
  <div class="key white" id="F-2"></div>
  <div class="key white" id="G-2"></div>
  <div class="key white" id="A-2"></div>
  <div class="key white" id="B-2"></div>
  <div class="key white" id="C-3"></div>
  <div class="black-keys">
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
    <div class="key black" id="C-3"></div>
  </div>
</div>


<script type="text/javascript" src="./js/main.js"></script>
