:root {
  --white-border-color: #AAAAAA;
  --border-size: 0.12vw;
}
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #111;
}

.key {
  float: left;
  position: relative;
}

.white {
  height: 14.4vw;
  width: 3.8095238095vw;
  z-index: 1;
  border-top: var(--border-size) solid var(--white-border-color);
  border-bottom: var(--border-size) solid var(--white-border-color);
  border-left: var(--border-size) solid var(--white-border-color);
  background-color: #CBCBCB;
  filter: brightness(100%);
}

.white:hover {
  filter: brightness(70%);
}

.black {
  height: 7.92vw;
  width: 2.0952380952vw;
  z-index: 2;
  border: var(--border-size) solid #000000;
  background-color: #222222;
}

.active {
  filter: brightness(50%);
}

.black:hover {
  background-color: gray;
  border: var(--border-size) solid gray;
}

.a, .b, .d, .e, .g, .black {
  margin: 0 0 0 -1.1676190476vw;
}

#keyboard > .note:last-child {
  border-right: var(--border-size) solid var(--white-border-color);
}
